* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  padding: 40px;
  background: rgb(54,205,52);
  background: linear-gradient(90deg, rgba(54,205,52,1) 19%, rgba(158,196,47,1) 85%, rgba(182,189,43,1) 100%);
}

.title-encuesta{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  font-variant: small-caps;
  font-weight: 500;
}

.form-encuesta {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 100px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.384);
  gap: 10px;
  width: 80%;
}

.title-h4 {
  margin: 12px 0px;
  padding-top: 25px;
  color: white;
  letter-spacing: 1.5px;
  font-style: oblique;
  font-weight: 400;
  border-bottom: 1px solid rgba(255, 255, 255, 0.397);
}

.campo-contein{
  display: flex;
  gap: 20px;
}

.campo{
  color: white;
  white-space: nowrap;
}

.seccion-2 {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 20px;
}

.seccion, .seccion-2{
  margin-top: 20px
}

.form-group{
 width: 100%;
}

.input-enter{
  width: 100%;
  max-width: 100%;
}

.input-name{
  width: 100%;
  max-width: 100%;
}

.input-enter, .input-name{
  padding: 5px;
  border-radius: 5px;
  border: 2px solid rgba(117, 161, 105, 0.74);
}

.input-enter:focus-visible, .input-name:focus-visible{
  outline: none;
}

.input-enter:focus-visible, .input-name:focus-visible{
  border: 2px solid rgb(91, 111, 226);
}

.seccion-flex{
  display: flex;
  margin-left: -20px;
  flex-wrap: wrap;
  gap: 20px;
}

.contain-check {
  display: flex;
  align-items: start;
  flex-direction: row;
}

.tipo{
  background-color: #1d2424b6;
  padding: 8px 35px;
  border-radius: 5px;
  color: white;
}

.check-type {
  position: relative;
  top: 12px;
  left: 28px;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50px;
  border: 1px solid rgba(255, 249, 249, 0.205);
}

.check-type:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  background-color: #59af27;
  transition: background-color 0.3s ease-in-out;
}

.cont-btn {
  display: flex;
  justify-content: center;
  padding: 40px;
}

#enviarBtn {
  background: #59af27;
  color: white;
  padding: 8px 50px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

#enviarBtn:hover {
  background-color: #0a5a9c;
  transition: 0.5s;
}

#error {
  color: red;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.tabla {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  top: 20px;
}

th,
td {
  min-width: 150px;
  border: 1px solid black;
}

.filaP {
  min-width: 60px !important;
}

.filaG {
  min-width: 250px;
}

td {
  display: flex;
  justify-content: end;
}

.columna {
  display: flex;
}

#descargar {
  position: absolute;
  bottom: 0px;
}
