* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: #142330;
}

div, span, a, p, h3{
  background-color: transparent;
}

a{
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  background: linear-gradient(90deg, rgb(47, 146, 46) 19%, rgba(158,196,47,1) 85%, rgba(182,189,43,1) 100%);
  background-repeat: no-repeat;
}

.header{
  position: fixed;
  top: 0px;
  height: 80px;
  width: 100%;
  background-color: #f1f2fa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  z-index: 999;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.062);
}

.inicio-h4{
  color:#0a5a9c;
  background-color: #f1f2fa;
}

.inicio-h4:hover{
  color:#59af27;
  transition: .5s;
}

.logo-central{
  width: 110px;
  background-color: #f1f2fa;
}

.logo-central-a{
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-encuesta{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  color: #0a5a9c;
  letter-spacing: 2px;
  font-variant: small-caps;
  font-weight: 600;
  font-size: 1.1rem;
  background-color: transparent;

}

.form-encuesta {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 45px;
  border-radius: 15px;
  background-color: #f9f9f9;
  margin: 110px 0px 30px 0px;
  border: 2px solid #2f343a54;
}

.title-h4 {
  margin: 5px 0px;
  padding-top: 25px;
  color: #0a5a9c;
  letter-spacing: 1.5px;
  font-style: oblique;
  font-weight: 500;
  border-bottom: 1px solid  rgba(77, 72, 72, 0.233);
  font-size: .8rem;
  background-color: transparent;
}

.campo-contein{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.campo{
  color:  #34495e;
  white-space: nowrap;
}

.seccion-2 {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 20px;
}

.seccion, .seccion-2{
  margin-top: 20px
}

.form-group{
 width: 100%;
}

.input-enter{
  width: 100%;
  max-width: 100%;
}

.input-name{
  width: 100%;
  max-width: 100%;
}

.input-enter, .input-name{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #34495e7e;
  background-color: #ffffff;
}

.input-enter:focus-visible, .input-name:focus-visible{
  outline: none;
}

.input-enter:focus-visible, .input-name:focus-visible{
  border: 1px solid #0a5a9c;
  background-color: #eef2f5;
}

.seccion-flex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.contain-check {
  display: flex;
  align-items: start;
  flex-direction: row;
  margin-left: -20px;
}

.tipo{
  background-color: #f9f9f9;
  padding: 0px 20px 0px 35px;
  border-radius: 5px;
  color: #34495e;
}

.check-type {
  position: relative;
  left: 28px;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50px;
  border: 1px solid rgba(122, 120, 120, 0.637);
  background-color: white;
}

.check-type:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  background-color: #0a5a9c;
  transition: background-color 0.3s ease-in-out;
}

.cont-btn {
  display: flex;
  justify-content: center;
  padding: 40px;
}

#enviarBtn {
  background: #59af27;
  color: white;
  padding: 8px 50px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

#enviarBtn:hover {
  background-color: #0a5a9c;
  transition: 0.5s;
}

#error {
  color: red;
  display: flex;
  justify-content: center;
  margin-top: -10px;
  padding-bottom: 10px;
}

#resultado{
  width: 80%;
  margin: 100px 0px 30px 0px;
  padding: 30px 0px ;
  color: white;
}

.contain-msg{
  display: flex;
  flex-direction: column;
}

#productoRecomendado{
  background-color: #ffffff;
  color: #34495e;
  margin: 40px 0px;
  border-radius: 10px;
  border: 2px solid #2f343a17;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-producto{
  min-width: 200px;
  max-width: 400px;
  border-radius: 10px;
}

.description-product{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.margen{
  padding: 10px;
}

.btn-volver{
  background: #0a5a9c;
  color: white;
  padding: 8px 50px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.btn-volver-a{
  color: white;
  text-decoration: none;
}

.btn-volver:hover {
  background-color: #59af27;
  transition: 0.5s;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

/* STYLES LISTA */

.contain-tabla{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  background-color: #142330;
  flex-direction: column;
}

.tabla {
  display: flex;
  flex-direction: column;
  top: 20px;
  color: white;
  padding: 20px;
  background-color: #142330;
  height: 100vh;
}

th,
td {
  min-width: 200px;
  border: 1px solid rgb(255, 252, 252);
}

td {
  display: flex;
  justify-content: start;
  text-indent: 5px;
  font-size: 16px;
}

.column-small{
  min-width: 60px;
}

.column-email{
  min-width: 320px;
}

.columna {
  display: flex;
}

.cont-btn-descargar{
  display: flex;
  justify-content: center;
}

#descargar {
  margin-top: 20px;
  width: fit-content;
  background-color: #59af27;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
}

#descargar:hover {
  background-color: #0a5a9c;
  transition: .5s;
}

#descargar>a{
  text-decoration: none;
  color: white;
}

.footer{
  width: 100%;
  background-color: #f1f2fa;
  color: grey;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
}

.copy{
  font-size: .8rem;
}

/* Scroll */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgb(174, 216, 57);
}
::-webkit-scrollbar-thumb {
  background:rgba(2, 10, 2, 0.432);
  border-radius: 10px;
}


@media (min-width: 769px) {

  .form-encuesta {
    width: 80%;
    gap: 10px;
    padding: 0px 60px;
  }

  .title-encuesta{
    font-size: 24px;
  }

  .title-h4 {
    font-size: 18px;
  }

  .campo-contein{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .logo-central{
    width: 150px;
  }
  
  #productoRecomendado{
    display: flex;
    flex-direction: row;
  }

  #resultado{
    width: 60%;
  }

  .img-producto{
    width: 300px;
  }
  

}

@media (min-width: 1360px) {
  .form-encuesta {
    width: 70%;
    padding: 0px 60px;
  }

  .seccion-2 {
    padding-right: 50px;
  }

  #resultado{
    width: 50%;
  }

}


@media (min-width: 1500px) {
  .form-encuesta {
    width: 70%;
    padding: 0px 130px;
  }

  #resultado{
    width: 40%;
  }
}